#home-header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  .header-content-text {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      width: 250px;
    }
  }

  .search-recipe {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 210px;
    box-sizing: border-box;
    padding: 5px;

    input {
      border: none;
      width: 100%;
    }
  }
  .recom-recipe {
    color: #ffb830 !important;
    font-weight: bold;
    text-decoration: none;
  }

  .home-picture {
    position: absolute;
    width: 256;
    height: 205;
    right: -30px;
  }
  .home-picture-desktop {
    display: none;
  }
}

#recomendation-recipe {
  margin-top: 30px;

  .card-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }
}

.title-section {
  text-align: center;
  font-weight: 500;
}

@media (min-width: 992px) {
  #home-header {
    margin-top: 50px !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 48px;
    }

    p {
      width: 300px !important;
    }
    .home-picture {
      display: none;
    }

    .search-recipe {
      width: 300px;
      padding: 10px;
    }

    .header-content-picture {
      order: 2;

      .home-picture-desktop {
        display: block;
        img {
          width: 400px;
        }
      }
    }
  }
  #recomendation-recipe {
    margin-top: 30px;

    .title-section {
      font-size: 32px;
      margin-bottom: 20px;
    }
    .card-container {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
    }
  }
}
